<!DOCTYPE html>
<html>
  <body>

            <div id="lecteurYtb" style="text-align: center">
            <h3>{$title}</h3>
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div id="player"></div>

            <iframe id="ytplayer" type="text/html" width="400" height="280"
                    src="https://www.youtube.com/watch?v={$address}"
                    frameborder="0" allowfullscreen></iframe>
        </div>
    </body>
</html>

