<div id="modact" class="block" style="text-align:center"
    <ul>
          <li>{$title}</li>
          <li>{$datedeb}</li>
          <li>{$datefin}</li>
            <li>{$contenu}</li>
              </ul>
</div>